<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Projects</title>
</head>

<body>
<h1> Profilo</h1>
    <table>
        <tr>
            <td>Username</td>
            <td th:text="${credentials.username}"></td>
        </tr>
        <tr>
            <td>Nome</td>
            <td th:text="${loggedUser.nome}"></td>
        </tr>
        <tr>
            <td>Cognom</td>
            <td th:text="${loggedUser.cognome}"></td>
        </tr>
        <tr>
            <td>Ruolo</td>
            <td th:text="${credentials.role}"></td>
        </tr>
        <tr>
            <td>Registrato: </td>
            <td th:text="${loggedUser.creationTime}"></td>
        </tr>
    </table>
</body>
</html>